.searchbar_submit {
  font-family: undertale;
  font-size: 1.2rem;
  color: white;
  background-color: black;
  height: 2rem;
  border: 3px solid white;
  padding: 0.3rem;
}

.searchbar_input {
  font-family: undertale;
  font-size: 1.2rem;
  color: white;
  background-color: black;
  height: 2rem;
  border: 3px solid white;
  padding: 0.3rem;
}

.searchbar_back {
}
