.pagination {
  display: flex;
  text-align: center;
  margin: 30px 30px 60px;
}

.page-link {
  display: inline-block;
  margin: 2px;
  background-color: gray;
  opacity: 30%;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.4s ease;
}

.page-link:hover {
  transform: translateY(-5px);
}

ul {
  list-style-type: none;
}
