.filter_container {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

.filter_name {
  border: 2px solid #ff4e00;
  background-color: black;
  height: 40px;
  color: #ff4e00;
  font-family: undertale;
  font-size: 1.5rem;
  margin: 0 10px;
}

.filter_genre {
  border: 2px solid #ff4e00;
  background-color: black;
  height: 40px;
  color: #ff4e00;
  font-family: undertale;
  font-size: 1.5rem;
  margin: 0 10px;
}

.filter_platform {
  border: 2px solid #ff4e00;
  background-color: black;
  height: 40px;
  color: #ff4e00;
  font-family: undertale;
  font-size: 1.5rem;
  margin: 0 10px;
}
