.detail_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  background-color: black;
  border: 10px solid;
  font-family: undertale;
  font-size: 1.5rem;
}

.detail_arrow {
  transform: rotate(-90deg);
  max-width: 7vh;
}

.detail_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
}

.detail_image {
  max-width: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detail_info {
  display: flex;
  justify-content: space-around;
  width: 60vh;
}

.detail_txt {
  text-indent: 10%;
  text-align: justify;
  font-size: 1.4rem;
  width: 60vh;
  column-count: 2;
  overflow: hidden;
  /* border-right: 2px solid white;
  animation: writer 10s steps(100) 1s 1 normal both; */
}

.detail_platContainer {
  padding-top: 5vh;
  width: 60vh;
}

.detail_platform {
  border: 2px solid #ff4e00;
  background-color: black;
  height: 40px;
  color: #ff4e00;
  font-family: undertale;
  font-size: 1.5rem;
  margin: 0 10px;
}

.detail_genContainer {
  padding: 15px;
  width: 60vh;
}
.detail_genre {
  border: 2px solid #ff4e00;
  background-color: black;
  height: 40px;
  color: #ff4e00;
  font-family: undertale;
  font-size: 1.5rem;
  margin: 0 10px;
}
